<h1>New Car for <%= @user.username %></h1>
<%= @user.id %>

<%= form_for(@ownedcar) do |f| %>
  <select name="car_id">
    <%= @cars.each do |c| %>
      <option value="<%= c.id %>"><%= c.info %></option>
    <% end %>
  </select>
  <input type="hidden" name="user_id" value="<%= @user.id %>"></input>
  <br />
  <%= f.submit %>

<% end %>


