<h1>All Users</h1>
<table>
  <thead>
    <tr>
      <td>Username</td>
      <td>Password</td>
      <td>Email</td>
      <td>Garage</td>
    </tr>
  </thead>
  <tbody>
    "you really shouldn't just display all the user's passwords"
    <% @users.each do |user| %>
      <tr class="user-row" id="<%= dom_id(user) %>">
        <td class="username"><%= user.username %></td>
        <td class="password"><%= user.password %></td>
        <td class="email"><%= user.email %></td>
        <td class="garage"><%= user.garage %></td>
      </tr>
    <% end %>
  </tbody>
</table>