<h1><%= @user.username %>'s Garage</h1>
email: <%= @user.email %>
<br />
garage capacity: <%= @user.garage.capacity %>
<br />
<!-- <%= link_to "Add a new car", '/users/' + @user.id.to_s + '/add' %> 
-->
<a id='addcarlink' href='<%= "/users/" + @user.id.to_s + "/add" %>'>add a new car!</a>
<h2>Cars:</h2>
<table>
	<tbody>
		<% Ownedcar.where(:user => @user.id).each do |c| %>
			<tr class="ownedcar-row" id="<%= dom_id(c) %>">
				<td><%= c.info %></td>
			</tr>
		<% end %>
	</tbody>
</table>