<h1>All Cars</h1>
<table>
  <thead>
    <tr>
      <td>Year</td>
      <td>Make</td>
      <td>Model</td>
      <td>Coolness Value</td>
      <td>Horsepower</td>
      <td>Torque</td>
      <td>Weight</td>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr class="car-row" id="<%= dom_id(car) %>">
        <td class="year"><%= car.year %></td>
        <td class="make"><%= car.make %></td>
        <td class="model"><%= car.model %></td>
        <td class="coolness_value"><%= car.coolness_value %></td>
        <td class="horsepower"><%= car.horsepower %></td>
        <td class="torque"><%= car.torque %></td>
        <td class="weight"><%= car.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>